
.ripple-btn {

    // <a role="button" class="ripple-btn">
    //     <div class="bg"></div>
    //     <p>BUTTON</p>
    // </a>

    background-color: lightgray;
    box-shadow: 0px 2px 10px -3px black;
    padding: 1rem;
    border-radius: 1rem;
    overflow: hidden;

    position: relative;

    &:hover .bg {
        transform: scale(1);
    }

    .bg {
        background : linear-gradient(45deg, purple,pink,blue);
        
        position: absolute;
        inset: 0;
        z-index: 0;
        transform: scale(0);

        transition: 0.1s;
    }

    p {
        position: relative;
        z-index: 1;
    }

    // const btn = document.querySelector(".ripple-btn")
    // const bgEl = document.querySelector(".bg")

    // btn.addEventListener("mouseenter", (e)=>{
    //     const x = e.target.getBoundingClientRect().width / 2
    //     const y = e.target.getBoundingClientRect().height / 2

    //     if(e.offsetX < 1) {
    //         bgEl.style = "transform-origin : left;"
    //     }
    //     else if(e.offsetX > x-1) {
    //         bgEl.style = "transform-origin : right;"
    //     }
    //     else if(e.offsetY < 1 && e.offsetX < x) {
    //         bgEl.style = "transform-origin : top;"
    //     }
    //     else if(e.offsetY > y-1 && e.offsetX < x) {
    //         bgEl.style = "transform-origin : bottom;"
    //     }

    //     console.log(e.offsetX, e.offsetY);
    // })
}